@import "tailwindcss";

@theme {
  --color-primary: #9b2b66;
  --color-secondary: #10069f;
  --color-dark-background: #121313;
  --color-background-gradiant-start: #163161;
  --color-background-gradiant-end: #4469ac;
}

body {
  font-family: "Montserrat Variable", sans-serif;
}
